<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 - Page Not Found</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/404.html" />
    <meta charset="UTF-8">


    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

    <body>

        <div id="pageHeader"></div>

        <div class="content-wrapper">
            <article>
                <h1>404 - Page Not Found</h1>
                <div class="error-message">
                    <p>Oops! The page you're looking for doesn't exist or has been moved.</p>
                </div>
                <a class="error" href="/main/index.html">Go back to the homepage</a>
            </article>
        </div>

        <div id="pageFooter"></div>

    </body>
</html>
