<!DOCTYPE html>

<head>
    <title>About CSPatterns</title>
    <link rel="canonical" href="https://www.cspatterns.com/about" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>

    <div class="content-wrapper">
        <article>

            <h2> CSPatterns </h2>
            <p> 
                CSPatterns was created by Hartwich for the community.
                It's a website to help skin lovers find their perfect match and to help new players get into the skin game.

                <br>
                <br>

                "I have seen so many people need help for something skin-related in the community and it's not always easy to find the right help.
                I know this struggle and have therefore decided to make a bunch of guides on skins and charms in CS2.
                This is where most of my interest in the game lies, and I want the community to be able to find the perfect help for all the many skins out there.
                This site contains all the guides I have made for the community." - Hartwich.

                <br>
                <br>

                <img class="avatarImage" src="/images/Hartwich_avatar.png" alt="Hartwich">

                <nav class="social-nav">
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/@HartwichCS" target="_blank" rel="noopener noreferrer">
                              <img src="/images/socials/youtube_logo.png" alt="YouTube Logo">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@hartwichcs" target="_blank" rel="noopener noreferrer">
                              <img src="/images/socials/tiktok_logo.png" alt="TikTok Logo">
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/HartwichCS" target="_blank" rel="noopener noreferrer">
                              <img src="/images/socials/x_logo.png" alt="X Logo">
                            </a>
                        </li>
                    </ul>
                </nav>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>