<header>
        <nav class="header-nav">
            <ul>
                <li><a href = "/main/index.html"> <img src = "/main/images/CSPatterns_logo.png" alt="logo"> </a></li>
                <li><a href = "/main/Views/pistols/pistols.html"> Pistol Pattern Guides </a></li>
                <li><a href = "/main/Views/midtiers/midTier.html"> Mid-Tier Pattern Guides </a></li>
                <li><a href = "/main/Views/rifles/rifles.html"> Rifle Pattern Guides </a></li>
                <li><a href = "/main/Views/missingLinkCharms/missingLinkCharms.html"> Missing Link Charm Pattern Guides </a></li>
                <li><a href = "/main/Views/smallArmsCharms/smallArmsCharms.html"> Small Arms Charm Pattern Guides </a></li>
            </ul>
        </nav>
</header>