<header>
    <nav class="header-nav">
        <ul>
            <li><a href = "/index"> <img src = "/images/CSPatterns_logo.png" alt="logo"> </a></li>
            <a href="/pistols/pistols">Pistol Pattern Guides</a>
            <li><a href = "/midtiers/midTier"> Mid-Tier Pattern Guides </a></li>
            <li><a href = "/rifles/rifles"> Rifle Pattern Guides </a></li>
            <li><a href = "/missingLinkCharms/missingLinkCharms"> Missing Link Charm Pattern Guides </a></li>
            <li><a href = "/smallArmsCharms/smallArmsCharms"> Small Arms Charm Pattern Guides </a></li>
        </ul>
    </nav>
</header>