<header>

        <table>
            <tr>
                <a href="/main/index.html"><img></a>
            </tr>
        </table>

        <nav>
            <ul>
                <li><a> Steam Guides </a></li>
                <li><a> Scam Guides </a></li>
                <li><a> Pistol Pattern Guides </a></li>
                <li><a> Mid-Tier Pattern Guides </a></li>
                <li><a> Rifle Pattern Guides </a></li>
                <li><a> Missing Link Charms Pattern Guides </a></li>
                <li><a> Small Arms Charms Pattern Guides </a></li>
            </ul>
        </nav>

</header>