<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/weaponImages.css">

    <script src="/main/Data/contentLoader.js" defer></script>
    <script src="/main/Data/displayImages.js" defer></script>
    <script src="/main/Data/pistols/pistolsData.js" defer></script>
    <script src="/main/Data/pistols/pistolsDisplay.js" defer></script>

</head>

<div id="pageHeader"></div>

<body>

    <div class="groupImageDisplay">
        <div class="defaultSkinImages"></div>
    </div>

    <br>

</body>