p{
    color: #e0e0e0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

h1{
    color: #e0e0e0;
    text-align: center;
}

h2{
    color: #e0e0e0;
    text-align: center;
}

#patternTemplateImage{
    position: absolute;
    top: 100px;
    left: 20%;
    width: 60%;
    height: auto;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#patternTemplateImage img {
    width: 100%;
    height: auto;
    max-height: 50px;
    object-fit: cover;
}

#articleBannerLeft, #articleBannerRight{
    position: fixed;
    width: 18%;
    height: 100vh;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#articleBannerLeft{
    left: 0;
}

#articleBannerRight{
    right: 0;
}

#articleBannerLeft img, #articleBannerRight img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}