.groupImageDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.defaultMidtierImages, .defaultPistolImages, .defaultRifleImages{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1em;
    row-gap: 1em;
    margin: 0 auto;
}

.pistolsimage, .midtiersimage, .riflesimage{
    width: 320px;
    height: 370px;
    border: 3px solid;
    border-color: #313638;
    border-radius: 10px;
    background-color: #313638;
    font-size: 35px;
    text-align: center;
    position: relative;
    margin: 1px;
}

.pistolsimage p, .midtiersimage p, .riflesimage p{
    position: relative;
    top: -30px;
    margin: 0;
    padding: 5px;
    word-wrap: break-word;
}

.pistolsimagehr, .midtiersimagehr, .riflesimagehr{
    height: 3px;
    background-color: rgb(129, 128, 128);
    border: none;
}

.pistolsimage:hover, .midtiersimage:hover, .riflesimage:hover{
    border-color: rgb(129, 128, 128);
}

.rarity-box {
    position: relative;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-top-right-radius: 10px;
    text-align: center;
}