/* Grid Container For Pattern Guides */
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 0.5vw;
    row-gap: 0.5vw;
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
}

/* Inspect Buttons Grid */
.inspect-buttons-grid-container {
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    column-gap: 3px;
}

/* Skin Box - Contains: Skin Name, Skin Rarity, Skin Image, Skin Float Range, Inspect Buttons */
.skin-box {
    background-color: #2a2a2a;
    padding: 0.5rem;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
    border-style: solid;
    border-color: #0f0f0f;
    border-width: 2px;
}

/* Skin Rarity Box */
.skin-rarity-box {
    position: relative;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-top-right-radius: 10px;
    text-align: center;
}

/* Skin Price Box and Skin Description Box*/
.skin-price-box, .skin-desc-box {
    background-color: #2a2a2a;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
    height: 49%;
    padding: 0.5rem;
    border-style: solid;
    border-color: #0f0f0f;
    border-width: 2px;
}

.skin-info-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.7vw;
}