<!DOCTYPE html>

<head>
    <title>AK-47 Case Hardened Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/rifles/ak47_caseHardened.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the AK-47 Case Hardened.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, AK-47, Case Hardened">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div class="content-wrapper">
        <article>

            <br>

            <h1>AK-47 Case Hardened Pattern Guide</h1>

            <br>
            <br>

            <h2> AK-47 Case Hardened </h2>
            <p> 
                The AK-47 Case Hardened is a classified skin from the Arms Deal Collection, which was added to the game on the 14th August 2013.
                It’s one of the most popular and unique pattern based skins in the game, and contains the most desired pattern.

                <br>

            </p>

            <br>


            <h2> Float </h2>
            <p>
                The AK-47 Case Hardened can be obtained in the float range 0.00 - 1.00.
                This means the skin exists in all conditions.

            </p>

            <br>

            <h2> Patterns </h2>

            <p>
                Like many other skins in the game, the AK-47 Case Hardened is pattern based.
                The pattern determines the look of the skin itself.
                For the AK-47 Case Hardened it changes the color of the skin, depending on the pattern it can have a different amount of blue and gold on it.
                The most desired patterns are the ones with the most blue on them.
            </p>

            <br>

            <h2> Blue Gem Patterns</h2>

            <p>
                The blue gem patterns are the patterns on the skin where the body of the AK-47 Case Hardened contains a certain amount of visible blue.
                The more visible blue that fills out the body of the AK the better.
            </p>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(40, 188, 247);">
            <h2> Blue Gem Patterns - Tier 1</h2>
            <p>

                Best pattern: 661

                <br>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_661.png" alt="AK-47 Case Hardened Pattern 661">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C280138004095057F135DF2" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 151, 179, 321, 387, 661, 670, 955

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(40, 188, 247);">
            <h2> Blue Gem Patterns - Tier 2</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_592.png" alt="AK-47 Case Hardened Pattern 592">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C2801380040D00460B5EA22" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 2: 4, 13, 168, 429, 592, 905

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(40, 188, 247);">
            <h2> Blue Gem Patterns - Tier 3</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_555.png" alt="AK-47 Case Hardened Pattern 555">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C2801380040AB04A26A6C80" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 3: 11, 74, 103, 112, 139, 147, 172, 189, 228, 236, 310, 322, 363, 426, 430, 434, 442, 497, 555, 695, 698, 713, 721, 733, 750, 760, 782, 828, 844, 862 868, 887, 950, 961, 969, 978, 996

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(40, 188, 247);">
            <h2> Blue Gem Patterns - Tier 4</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_770.png" alt="AK-47 Case Hardened Pattern 770">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C280138004082067D52504A" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 4: 2, 28, 32, 34, 65, 73, 126, 130, 169, 178, 182, 194, 200, 205, 209, 230, 242, 248, 256, 269, 296, 306, 325, 341, 344, 381, 397, 407, 418, 420, 428, 431, 447, 453, 456, 458, 468, 470, 479, 481, 493, 494, 507, 522, 525, 526, 532, 541, 557, 575, 577, 605, 622, 627, 648, 664, 681, 685, 689, 694, 715, 724, 770, 775, 788, 795, 798, 803, 809, 842, 847, 878, 879, 888, 891, 922, 927, 935, 965, 985, 1000

                <br>

            </p>
            </div>

            <br>

            <h2> Gold Gem Patterns</h2>

            <p>
                The gold gem patterns are the patterns on the skin where the body of the AK-47 Case Hardened contains a certain amount of visible gold.
                The more visible gold that fills out the body of the AK the better.
            </p>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(233, 208, 127);">
            <h2> Gold Gem Patterns - Tier 1</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_784.png" alt="AK-47 Case Hardened Pattern 784">

                <br>
 
                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C280138004090064F7B49C8" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 219, 784

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(233, 208, 127);">
            <h2> Gold Gem Patterns - Tier 2</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_473.png" alt="AK-47 Case Hardened Pattern 473">

                <br>
 
                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C2801380040D9032B8050EA" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 2: 473, 538

                <br>

            </p>
            </div>

            <br>

            <h2> Blaze Patterns </h2>

            <p>
                The blaze patterns are the patterns on the skin where the body of the AK-47 Case Hardened contains a certain amount of visible blue, purple and gold.
                This gives a blaze effect on the skin.
            </p>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(90, 51, 182);">
            <h2> Blaze Patterns - Tier 1</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_571.png" alt="AK-47 Case Hardened Pattern 571">

                <br>
 
                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C2801380040BB04231336AA" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 118, 323, 571

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(90, 51, 182);">
            <h2> Blaze Patterns - Tier 2</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_365.png" alt="AK-47 Case Hardened Pattern 365">

                <br>
 
                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C2801380040ED02E6A7B564" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 2: 365, 819

                <br>

            </p>
            </div>

            <br>

            <h2> Blue Mag Patterns </h2>

            <p>
                The blue mag patterns are the patterns on the skin where the mag on the AK-47 Case Hardened contains a certain amount of visible blue.
                The more visible blue that fills out the mag on the AK the better.
            </p>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(72, 160, 241);">
            <h2> Blue Mag Patterns</h2>
            <p>

                <img class="rifleImage" src = "/images/riflePatterns/ak47_ch_pattern_147.png" alt="AK-47 Case Hardened Pattern 365">

                <br>
 
                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001807202C28013800409301E6008F08" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Patterns: 29, 147, 153, 164, 306, 464, 502, 579, 587, 704, 716, 761, 806, 898

                <br>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>