<!DOCTYPE html>

<head>
    <title>M4A1-S Night Terror Wear Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/rifles/m4a1s_nightTerror.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the M4A1-S Night Terror.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, M4A1-S, Night Terror">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>M4A1-S Night Terror Wear Pattern Guide</h1>

            <br>
            <br>

            <h2> M4A1-S Night Terror </h2>
            <p> 
                The M4A1-S Night Terror is a restricted skin from the Dreams and Nightmare Collection, which was added to the game on the 21th January 2022.

                <br>

                <img class="bigWeaponImage" src = "/images/riflePatterns/m4a1s_nightterror_factorynew.png" alt="M4A1-S Night Terror Factory New">

                <br>


            </p>

            <br>

            <h2> Float </h2>
            <p>
                The M4A1-S Night Terror can be obtained in the float range 0.00 - 0.70.
                This means the skin exists in all conditions, but can’t have a float higher than 0.70.
            </p>

            <br>

            <h2> Wear Patterns </h2>
            <p>
              The M4A1-S Night Terror is wear based.
              The wear determines the look of the skin itself. For the M4A1-S Night Terror it changes the color of the skin.
              This means the different colors of the skin depends on the condition of it.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(114, 16, 170);">
            <h2> Purple Wear Pattern </h2>
            <p>
                The M4A1-S Night Terror changes color to purple.
                This becomes more visible the worse float the Glock-18 Shinobu has.
                This means the purple wear pattern is not visible when it’s in factory new condition, but visible when it’s in battle-scarred condition.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/images/riflePatterns/m4a1s_nightterror_battlescarred.png" alt="M4A1-S Night Terror Battle-Scarred">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000183C20EA08280138E6CC99F90340015641389C" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>