<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 - Page Not Found</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/404.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Error 404 - Page Not Found">
    <meta name="keywords" content="Error, 404, Page Not Found">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

    <body>

        <div id="pageHeader"></div>

        <div class="content-wrapper">
            <article>
                <h1>404 - Page Not Found</h1>
                <div class="error-message">
                    <p>Oops! The page you're looking for doesn't exist or has been moved.</p>
                </div>
                <a class="error" href="/index.html">Go back to the homepage</a>
            </article>
        </div>

        <div id="pageFooter"></div>

    </body>
</html>
