<header>
    <nav class="header-nav">
        <ul>
            <li><a href = "/index.html"> <img src = "/images/CSPatterns_logo.png" alt="logo"> </a></li>
            <li><a href = "/Views/pistols/pistols.html"> Pistol Pattern Guides </a></li>
            <li><a href = "/Views/midtiers/midTier.html"> Mid-Tier Pattern Guides </a></li>
            <li><a href = "/Views/rifles/rifles.html"> Rifle Pattern Guides </a></li>
            <li><a href = "/Views/missingLinkCharms/missingLinkCharms.html"> Missing Link Charm Pattern Guides </a></li>
            <li><a href = "/Views/smallArmsCharms/smallArmsCharms.html"> Small Arms Charm Pattern Guides </a></li>
        </ul>
    </nav>
</header>

<header class="mobile-header">
    <nav class="mobile-nav">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href = "/Views/pistols/pistols.html"> Pistols</a></li>
            <li><a href = "/Views/midtiers/midTier.html"> Mid-Tier </a></li>
            <li><a href = "/Views/rifles/rifles.html"> Rifles </a></li>
            <li><a href = "/Views/missingLinkCharms/missingLinkCharms.html">Missing Link</a></li>
            <li><a href = "/Views/smallArmsCharms/smallArmsCharms.html"> Small Arms</a></li>
        </ul>
    </nav>
</header>