<!DOCTYPE html>

<head>
    <title>Five-Seven Heat Treated Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/pistols/fiveSeven_heatTreated.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Five-Seven Heat Treated.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Desert Eagle, Heat Treated">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div class="content-wrapper">
        <article>

            <br>

            <h1>Five-Seven Heat Treated Pattern Guide</h1>

            <br>
            <br>

            <h2> Five-Seven Heat Treated </h2>
            <p> 
                The Five-Seven Heat Treated is a restricted skin from the Sport & Field Collection, which was added to the game on the 4th October 2024.
                It’s one of the most popular and unique pattern based skins in the game.
            </p>

            <br>

            <h2> Float </h2>
            <p>
                The Desert Eagle Heat Treated can be obtained in the float range 0.00 - 1.00.
                This means the skin exists in all conditions.
            </p>

            <br>

            <h2> Patterns </h2>

            <p>
                Like many other skins in the game, the Five-Seven Heat Treated is pattern based.
                The pattern determines the look of the skin itself.
                For the Five-Seven Heat Treated it changes the color of the skin, depending on the pattern it can have a different amount of blue and gold on it.
                The most desired patterns are the ones with the most blue on them.
            </p>

            <br>

            <h2> Blue Gem Patterns </h2>

            <p>
                The blue gem patterns are the patterns on the skin where the body of the Desert Eagle Heat Treated contains a certain amount of visible blue.
                The more visible blue that fills out the body of the Five-Seven the better.
            </p>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 1 </h2>
            <p>

                Best pattern: 904

                <br>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ht_pattern_904.png" alt="Five-Seven Heat Treated Pattern 904">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 48, 67, 111, 148, 159, 259, 263, 273, 297, 308, 321, 341, 347, 426, 461, 482, 530, 567, 704, 723, 790, 792, 843, 885, 948, 990

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 2 </h2>
            <p>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ht_pattern_406.png" alt="Five-Seven Heat Treated Pattern 406">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 2: 16, 66, 69, 96, 117, 324, 332, 356, 370, 386, 406, 441, 483, 490, 542, 587, 651, 674, 695, 764, 772, 781, 820, 856, 880, 882, 953

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 3 </h2>
            <p>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ht_pattern_109.png" alt="Five-Seven Heat Treated Pattern 109">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 3: 109, 116, 158, 168, 225, 288, 354, 364, 365, 433, 537, 592, 607, 611, 668, 673, 696, 730, 846, 876, 900, 942, 951, 998

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 4 </h2>
            <p>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ht_pattern_970.png" alt="Five-Seven Heat Treated Pattern 970">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 4: 7, 44, 113, 114, 120, 134, 142, 202, 316, 338, 375, 402, 430, 481, 510, 524, 525, 562, 591, 649, 701, 721, 752, 826, 857, 870, 898, 946, 964, 970

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>