<!DOCTYPE html>

<head>
    <title>Five-Seven Case Hardened Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/pistols/fiveSeven_caseHardened.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Five-Seven Case Hardened.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Five-Seven, Case Hardened">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div class="content-wrapper">
        <article>

            <br>

            <h1>Five-Seven Case Hardened Pattern Guide</h1>

            <br>
            <br>

            <h2> Five-Seven Case Hardened </h2>
            <p> 
                The Five-Seven Case Hardened is a restricted skin from the Arms Deal 2 Collection, which was added to the game on the 8th November 2013.
                It’s one of the most popular and unique pattern based skins in the game.
            </p>

            <br>

            <h2> Float </h2>
            <p>
                The Five-Seven Case Hardened can be obtained in the float range 0.00 - 1.00.
                This means the skin exists in all conditions.
            </p>

            <br>

            <h2> Patterns </h2>

            <p>
                Like many other skins in the game, the Five-Seven Case Hardened is pattern based.
                The pattern determines the look of the skin itself.
                For the Five-Seven Case Hardened it changes the color of the skin, depending on the pattern it can have a different amount of blue and gold on it.
                The most desired patterns are the ones with the most blue on them.
            </p>

            <br>

            <h2> Blue Gem Patterns </h2>

            <p>
                The blue gem patterns are the patterns on the skin where the body of the Five-Seven Case Hardened contains a certain amount of visible blue.
                The more visible blue that fills out the body of the Five-Seven the better.
            </p>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 1 </h2>
            <p>

                Best pattern: 690

                <br>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ch_pattern_690.png" alt="Five-Seven Case Hardened Pattern 690">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001803202C2801380040B2054F042808" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 278, 363, 670, 690, 768, 868

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 2 </h2>
            <p>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ch_pattern_13.png" alt="Five-Seven Case Hardened Pattern 13">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001803202C28013800400DCC21D54A" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 2: 13, 103, 126, 151, 273, 321, 344, 387, 396, 434, 468, 555, 557, 592. 661, 770, 823, 844, 872, 879, 905, 927, 955

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 3 </h2>
            <p>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ch_pattern_577.png" alt="Five-Seven Case Hardened Pattern 577">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001803202C2801380040C10460D5F8EA" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 3: 4, 14, 61, 112, 168, 174, 179, 180, 187, 189, 215, 262, 325, 333, 381, 383, 413, 414, 426, 428, 429, 430, 447, 456, 497, 512, 526, 532, 577, 627, 628, 632, 648, 685, 689, 700, 715, 724, 750, 791, 795, 809, 828, 849, 862, 874, 887, 888, 902, 922, 935, 948, 969, 985

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(81, 200, 255);">
            <h2> Blue Gem Patterns - Tier 4 </h2>
            <p>

                <img class="pistolImage" src = "/images/pistolPatterns/fiveseven_ch_pattern_878.png" alt="Five-Seven Case Hardened Pattern 878">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20001803202C2801380040EE06C40C81E4" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 4: 9, 28, 29, 55, 67, 74, 81, 82, 87, 92, 101, 121, 122, 136, 137, 147, 148, 149, 159, 169, 172, 182, 193, 198, 200, 203, 208, 209, 214, 227, 235, 236, 242, 249, 261, 286, 310, 316, 319, 322, 332, 349, 358, 371, 372, 389, 390, 397, 398, 407, 436, 442, 450, 453, 459, 463, 466, 470, 499, 500, 508, 515, 525, 528, 531, 547, 558, 571, 575, 588, 589, 598, 612, 630, 631, 635, 638, 642, 643, 645, 647, 658, 667, 681, 702, 713, 720, 723, 733, 743, 749, 753 760, 782, 788, 797, 808, 814, 833, 838, 839, 843, 846, 853, 854, 877, 878, 889, 919, 921, 924, 938, 961, 964, 970, 975, 979, 989

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>