<!DOCTYPE html>

<head>
    <title>Glock-18 Shinobu Wear Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/pistols/glock18_shinobu.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Glock-18 Shinobu.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Glock-18, Shinobu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div class="content-wrapper">
        <article>

            <br>

            <h1>Glock-18 Shinobu Wear Pattern Guide</h1>

            <br>
            <br>

            <h2> Glock-18 Shinobu </h2>
            <p> 
                The Glock-18 Shinobu is a classified skin from the Fever Collection, which was added to the game on the 31th March 2025.
            </p>

            <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_shinobu_factorynew.png" alt="Glock-18 Shinobu Factory New">

                <br>

            <br>

            <h2> Float </h2>
            <p>
                The Glock-18 Shinobu can be obtained in the float range 0.00 - 1.00.
                This means the skin exists in all conditions.
            </p>

            <br>

            <h2> Wear Patterns </h2>
            <p>
                The Glock-18 Shinobu is wear based.
                The wear determines the look of the skin itself. For the Glock-18 Shinobu it changes the color of the skin.
                This means the different colors of the skin depends on the condition of it.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(221, 25, 25);">
            <h2> Red Wear Pattern </h2>
            <p>
                The Glock-18 Shinobu changes from purple to red This becomes more visible the worse float the Glock-18 Shinobu has.
                This means the red wear pattern is not visible when it’s in factory new condition, but visible when it’s in battle-scarred condition.

                <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_shinobu_battlescarred.png" alt="Glock-18 Shinobu Battle-Scarred">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000180420B809280138CD99B3FA034001E75F98DC" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                
             </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>