<!DOCTYPE html>

<head>
    <title>Glock-18 Gamma Doppler Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/pistols/glock18_gammadoppler.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Glock-18 Gamma Doppler.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Glock-18, Gamma Doppler">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "/images/patternTemplates/EmeraldTemplate.png" alt="Emerald Pattern Template">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>Glock-18 Gamma Doppler Pattern Guide</h1>

            <br>
            <br>

            <h2> Glock-18 Gamma Doppler </h2>
            <p> 
                The Glock-18 Gamma Doppler is a covert skin from the Train 2021 collection, which was added to the game on the 22th September 2021 as part of the Operation Riptide.
                It’s a very unique skin and is well-known for its Emerald phase.

                <br>
                <br>

                The skin is not pattern based like other skins, but instead consist of 5 different phases, each of them being unique.
                These phases change the look of the skin itself, the same way patterns change the look of a skin.

                <br>
                <br>

                When opening a Glock-18 Gamma Doppler there are equal chances to get each of the five patterns.

                <br>
                <br>

                The Emerald Phase is the most sought after and expensive Phase for the Glock-18 Gamma Doppler.
                It’s around 9 times (900%) more expensive than the other 4 phases.

            </p>

            <br>

            <h2> Float </h2>
            <p>
                The Glock-18 Gamma Doppler can be obtained in the float range 0.00 - 0.50.
                This means the skin exists in all conditions, but in Battle-Scarred condition it can’t have a float higher than 0.50.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(2, 4, 66);">
            <h2> Phase 1 </h2>
            <p>
                The Glock-18 Gamma Doppler Phase 1 and 2 makes the skin dark blue and green.
                Phase 1 is where the skin have the most amount of dark blue and least amount of green.

                <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_gammadoppler_phase1.png" alt="Glock-18 Gamma Doppler Phase 1">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000180420E0082801380040011810F250" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(23, 119, 31);">
            <h2> Phase 2 </h2>
            <p>
                The Glock-18 Gamma Doppler Phase 1 and 2 makes the skin dark blue and green.
                Phase 2 is where the skin has the least amount of dark blue and the most amount of green.

                <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_gammadoppler_phase2.png" alt="Glock-18 Gamma Doppler Phase 2">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000180420E108280138004001D4C2F4E4" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(13, 193, 199);">
            <h2> Phase 3 </h2>
            <p>
                The Glock-18 Gamma Doppler Phase 3 and 4 makes the skin cyan and green.
                Phase 3 is where the skin has the most amount of cyan and the least amount of green.

                <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_gammadoppler_phase3.png" alt="Glock-18 Gamma Doppler Phase 3">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000180420E208280138004001ECD1C572" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(194, 245, 10);">
            <h2> Phase 4 </h2>
            <p>
                The Glock-18 Gamma Doppler Phase 3 and 4 makes the skin cyan and green.
                Phase 4 is where the skin has the most amount of cyan and the most amount of green.

                <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_gammadoppler_phase4.png" alt="Glock-18 Gamma Doppler Phase 4">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000180420E3082801380040012C43C2F2" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(0, 255, 0);">
            <h2> Emerald </h2>
            <p>
                The Glock-18 Gamma Doppler (Emerald) is where the skin turns into an Emerald green color and is completely green. This is the most expensive and desired Phase out of the five Phases for the Glock-18 Gamma Doppler.
                It’s around 9 times (900%) more expensive than the other 4 phases.

                <br>

                <img class="weaponImage" src = "/images/pistolPatterns/glock18_gammadoppler_emerald.png" alt="Glock-18 Gamma Doppler Emerald">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%2000180420DF08280138004001A7BCFD8A" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>