<!DOCTYPE html>

<head>
    <title>XM1014 Solitude Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/midtiers/xm1014_solitude.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the XM1014 Solitude.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, XM1014,  Solitude">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "" alt="">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>XM1014 Solitude Pattern Guide</h1>

            <br>
            <br>

            <h2> XM1014 Solitude </h2>
            <p> 
                The XM1014 Solitude is a restricted Limited Edition Item skin, which was added to the game on the 31th March 2025.
                It’s a very popular and unique XM1014 skin.
                The skin has many different patterns, some more desired than others.

            </p>

            <br>

            <h2> Patterns </h2>

            <p>
                Like many other skins in the game, the XM1014 Solitude is pattern based.
                The pattern determines the look of the skin itself.
                For the XM1014 Solitude it changes the entire look of the skin, depending on the pattern it can have blue mountains with one sun, blue mountains with two suns, green mountains with one sun, green mountains with two suns, yellow mountains, yellow mountains with one sun, and yellow mountains with two suns.
            </p>

            <br>

            <h2> Blue Mountains and Sun Patterns </h2>
            <p>
                The blue mountains and sun patterns are the patterns on the skin where the body of the XM1014 only contains blue mountains and one visible sun.
                These patterns are put into 3 different tiers.
                Where tier 1 is the best and tier 3 is the worst.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern33.png" alt="XM1014 Solitude Pattern 33">

                <br>

                All the tiers require the pattern to only have full blue mountains on the body.

                <br>
                <br>

                Tier 1 requires one sun placed centered or around the center of the body and be fully visible or almost fully visible.

                <br>
                <br>

                Patterns: 33, 105, 135, 225, 717, 815, 948, 930, 984, 997

                <br>
                <br>

                Tier 2 requires one sun that’s not placed at the center, but is fully visible, or a sun that’s placed at the center, but is not fully visible (at least 50% visibility)

                <br>
                <br>

                Patterns: 13, 30, 36, 58, 89, 133, 142, 147, 173, 226, 258, 272, 311, 333, 359, 437, 443, 694, 730, 732, 652, 800, 884, 913, 924, 925, 932, 971, 986

                <br>
                <br>

                Tier 3 requires one sun that’s not placed at the center and not fully visible (at least 50% visibility).

                <br>
                <br>

                Patterns: 23, 31, 61, 85, 106, 109, 150, 167, 197, 206, 249, 305, 323, 363, 395, 413, 445, 451, 532, 537, 585, 588, 602, 607, 614, 621, 636, 655, 735, 750, 774, 775, 794, 801, 829, 836, 860, 885, 904, 928, 936, 979, 998

            </p>

            <h2> Blue Mountains and Double Sun Patterns </h2>
            <p>
                The blue mountains and double sun patterns are the patterns on the skin where the body of the XM1014 only contains blue mountains and two visible suns.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern139.png" alt="XM1014 Solitude Pattern 139">

                <br>
                <br>

                Patterns: 139, 172, 251, 336, 410, 478, 530, 574, 576, 582, 600, 603, 616, 704, 715, 785, 831, 834, 870, 905, 927, 940, 946

            </p>

            <h2> Green Mountains and Sun Patterns </h2>
            <p>
                The green mountains and sun patterns are the patterns on the skin where the body of the XM1014 only contains green mountains and one visible sun.
                These patterns are put into 3 different tiers.
                Where tier 1 is the best and tier 3 is the worst.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern320.png" alt="XM1014 Solitude Pattern 320">

                <br>

                All the tiers require the pattern to only have full green mountains on the body.

                <br>
                <br>

                Tier 1 requires one sun placed centered or around the center of the body and be fully visible or almost fully visible.

                <br>
                <br>

                Patterns: 320, 837, 901

                <br>
                <br>

                Tier 2 requires one sun that’s not placed at the center, but is fully visible, or a sun that’s placed at the center, but is not fully visible (at least 50% visibility)

                <br>
                <br>

                Patterns: 79, 194, 229, 261, 409, 424, 554, 854, 909, 973

                <br>
                <br>

                Tier 3 requires one sun that’s not placed at the center and not fully visible (at least 50% visibility).

                <br>
                <br>

                Patterns: 91, 99, 228, 306, 330, 415, 448, 541, 543, 594, 858, 921, 945

            </p>

            <h2> Green Mountains and Double Sun Patterns </h2>
            <p>
                The green mountains and double sun patterns are the patterns on the skin where the body of the XM1014 only contains green mountains and two visible suns.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern46.png" alt="XM1014 Solitude Pattern 46">

                <br>

                Patterns: 46, 57, 210, 101, 110, 190, 317, 353, 534, 547, 770, 827, 908, 915, 972

            </p>

            <h2> Yellow mountains and sun Patterns </h2>
            <p>
                The yellow mountains and sun patterns are the patterns on the skin where the body of the XM1014 only contains yellow mountains and one visible sun.
                These patterns are put into 2 different tiers.
                Where tier 1 is the best and tier 2 is the worst.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern95.png" alt="XM1014 Solitude Pattern 95">

                <br>

                All the tiers require the pattern to only have full yellow mountains on the body.

                <br>
                <br>

                Tier 1 requires one sun placed centered or around the center of the body and be fully visible or almost fully visible.

                <br>
                <br>

                Patterns: 95, 863

                <br>
                <br>

                Tier 2 requires one sun that’s not placed at the center, but is fully visible, or a sun that’s placed at the center, but is not fully visible.

                <br>
                <br>

                Patterns: 154, 220, 743, 871

            </p>

            <h2> Yellow Mountains and Double Sun Patterns </h2>
            <p>
                The yellow mountains and double sun patterns are the patterns on the skin where the body of the XM1014 only contains yellow mountains and two visible suns.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern731.png" alt="XM1014 Solitude Pattern 731">

                <br>
            
                Patterns: 731

            </p>

            <h2> Yellow Mountains Patterns </h2>
            <p>
                The yellow mountain patterns are the patterns on the skin where the body of the XM1014 only contains yellow mountains.

                <br>

                <img class="bigWeaponImage" src = "/main/images/midtierPatterns/XM1014SolitudePattern180.png" alt="XM1014 Solitude Pattern 180">

                <br>
            
                Patterns: 180, 379, 650, 652, 669

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>