<!DOCTYPE html>

<head>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/baby_karat_ct_charm.html" />
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Baby Karat CT Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Baby Karat CT Charm </h2>
            <p> 
                The Baby Karat CT Charm is an extraordinary collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Baby Karat CT charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Baby Karat CT charm it changes the color of the charm, depending on the pattern it can be rose gold, cobber and gold.
            </p>

            <br>

            <h2> Rose Gold Patterns </h2>
            <p>
                The low patterns on the charm will make the charm rose gold.
                As the pattern gets closer to 1 it will be more rose gold.
                This means pattern 1 is the best pattern and the pattern where the charm is as rose gold as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/BabyKaratCTRoseGold.png" alt="Baby Karat CT Rose Gold Pattern">

                <br>

            </p>

            <h2> Cobber Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm cobber.
                As the pattern gets closer to 50.000 it will be more cobber.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as cobber as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/BabyKaratCTCobber.png" alt="Baby Karat CT Cobber Pattern">

                <br>

            </p>

            <h2> Gold Patterns </h2>
            <p>
                The high patterns on the charm will make the charm gold.
                As the pattern gets closer to 100.000 it will be more gold.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as gold as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/BabyKaratCTGold.png" alt="Baby Karat CT Gold Pattern">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>