<!DOCTYPE html>

<head>
    <title>Backsplash Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/backsplash_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Backsplash Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Backsplash Charm </h2>
            <p> 
                The Backsplash Charm is a high grade collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Backsplash charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Backsplash charm it changes the color of the charm, depending on the pattern it can be green, blue and purple.
            </p>

            <br>

            <h2> Green Patterns </h2>
            <p>
                The patterns around pattern 20.000 on the charm will make the charm green.
                As the pattern gets closer to 20.000 it will be more green.
                This means pattern 20.000 is the best pattern and the pattern where the charm is as green as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/BacksplashGreen.png" alt="Backsplash Green Pattern">

                <br>

            </p>

            <h2> Blue Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the charm blue.
                As the pattern gets closer to 80.000 it will be more blue.
                This means pattern 80.000 is the best pattern and the pattern where the charm is as blue as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/BacksplashBlue.png" alt="Backsplash Blue Pattern">

                <br>

            </p>

            <h2> Purple Patterns </h2>
            <p>
                The patterns around pattern 100.000 on the charm will make the charm purple.
                As the pattern gets closer to 100.000 it will be more purple.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as purple as it can get.


                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/BacksplashPurple.png" alt="Backsplash Purple Pattern">
                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>