<!DOCTYPE html>

<head>
    <title>Disco Mac Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/disco_mac_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Disco MAC Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, Disco MAC">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Disco MAC Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Disco MAC Charm </h2>
            <p> 
                The Disco MAC Charm is a remarkable collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(157, 43, 180);">
            <h2> Purple Patterns </h2>
            <p>
                The low patterns on the charm will make the charm purple.
                As the pattern gets closer to 1 it will be more purple.
                This means pattern 1 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/DiscoMacPurple.png" alt="Disco MAC Purple Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20115080010193D0000000045000000004D000000005001BE7A78A2" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(223, 61, 196);">
            <h2> Pink Patterns </h2>
            <p>
                The patterns around pattern 20.000 on the charm will make the charm pink.
                As the pattern gets closer to 20.000 it will be more pink.
                This means pattern 20.000 is the best pattern and the pattern where the charm is as pink as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/DiscoMacPink.png" alt="Disco MAC Pink Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010193D0000000045000000004D0000000050A09C01D8720C2C" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(255, 238, 0);">
            <h2> Yellow Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm yellow.
                As the pattern gets closer to 50.000 it will be more yellow.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as yellow as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/DiscoMacYellow.png" alt="Disco MAC Yellow Pattern">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010193D0000000045000000004D0000000050D08603639A3E58" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>
            
            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(91, 255, 118);">
            <h2> Green Patterns </h2>
            <p>
                The patterns around pattern 70.000 on the charm will make the charm green.
                As the pattern gets closer to 70.000 it will be more green.
                This means pattern 70.000 is the best pattern and the pattern where the charm is as green as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/DiscoMacGreen.png" alt="Disco MAC Green Pattern">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010193D0000000045000000004D0000000050F0A204A7065FE4" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>