<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Glamour Shot Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Glamour Shot Charm </h2>
            <p> 
                The Glamour Shot Charm is a remarkable collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Glamour Shot charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Glamour Shot charm it changes the color of the charm, depending on the pattern it can be red, pink, purple, blue and cyan.
            </p>

            <br>

            <h2> Red Patterns </h2>
            <p>
                The low patterns on the charm will make the charm red.
                As the pattern gets closer to 1 it will be more red.
                This means pattern 1 is the best pattern and the pattern where the charm is as red as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/GlamourShotRed.png">

                <br>

            </p>

            <h2> Pink Patterns </h2>
            <p>
                The patterns around pattern 20.000 on the charm will make the charm pink.
                As the pattern gets closer to 20.000 it will be more pink.
                This means pattern 20.000 is the best pattern and the pattern where the charm is as pink as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/GlamourShotPink.png">

                <br>

            </p>

            <h2> Purple Patterns </h2>
            <p>
                The patterns around pattern 60.000 on the charm will make the charm purple.
                As the pattern gets closer to 60.000 it will be more purple.
                This means pattern 60.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/GlamourShotPurple.png">
                <br>

            </p>

            <h2> Blue Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the charm blue.
                As the pattern gets closer to 80.000 it will be more blue.
                This means pattern 80.000 is the best pattern and the pattern where the charm is as blue as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/GlamourShotBlue.png">
                <br>

            </p>

            <h2> Cyan Patterns </h2>
            <p>
                The high patterns on the charm will make the charm cyan.
                As the pattern gets closer to 100.000 it will be more cyan.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as cyan as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/GlamourShotCyan.png">
                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>