<!DOCTYPE html>

<head>
    <title>Hot Hands Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/hot_hands_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Hot Hands Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, Hot Hands">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Hot Hands Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Hot Hands Charm </h2>
            <p> 
                The Hot Hands Charm is a remarkable collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(119, 28, 180);">
            <h2> Purple Patterns </h2>
            <p>
                The low patterns on the charm will make the charm purple.
                As the pattern gets closer to 1 it will be more purple.
                This means pattern 1 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="smallArmsCharmImage" src="/main/images/smallArmsPatterns/HotHandsPurple.png" alt="Hot Hands Charm Purple Pattern">

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(233, 31, 31);">
            <h2> Red Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the charm red.
                As the pattern gets closer to 80.000 it will be more purple.
                This means pattern 80.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/HotHandsRed.png" alt="Hot Hands Charm Red Pattern">

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(255, 115, 0);">
            <h2> Orange Patterns </h2>
            <p>
                The high patterns on the charm will make the charm orange.
                As the pattern gets closer to 100.000 it will be more orange.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as orange as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/HotHandsOrange.png" alt="Hot Hands Charm Orange Pattern">
                <br>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>