<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Hot Hands Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Hot Hands Charm </h2>
            <p> 
                The Hot Hands Charm is a remarkable collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Hot Hands charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Hot Hands charm it changes the color of the charm, depending on the pattern it can be purple, red and orange.
            </p>

            <br>

            <h2> Purple Patterns </h2>
            <p>
                The low patterns on the charm will make the charm purple.
                As the pattern gets closer to 1 it will be more purple.
                This means pattern 1 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/HotHandsPurple.png">

                <br>

            </p>

            <h2> Red Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the charm red.
                As the pattern gets closer to 80.000 it will be more purple.
                This means pattern 80.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/HotHandsRed.png">

                <br>

            </p>

            <h2> Orange Patterns </h2>
            <p>
                The high patterns on the charm will make the charm orange.
                As the pattern gets closer to 100.000 it will be more orange.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as orange as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/HotHandsOrange.png">
                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>