<!DOCTYPE html>

<head>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/lil_cap_gun_charm.html" />
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Lil' Cap Gun Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Lil' Cap Gun Charm </h2>
            <p> 
                The Lil' Cap Gun Charm is a high grade collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Lil' Cap Gun charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Lil' Cap Gun charm it changes the color of the gun tip, depending on the pattern it can be green, yellow and orange.
            </p>

            <br>

            <h2> Green Patterns </h2>
            <p>
                The low patterns on the charm will make the gun tip green.
                As the pattern gets closer to 1 it will be more green.
                This means pattern 10 is the best pattern and the pattern where the gun tip is as green as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/LilCapGunGreen.png" alt="Lil' Cap Gun Green Pattern">

                <br>

            </p>

            <h2> Yellow Patterns </h2>
            <p>
                The mid patterns on the charm will make the gun tip yellow.
                As the pattern gets closer to 50.000 it will be more yellow.
                This means pattern 50.000 is the best pattern and the pattern where the gun tip is as yellow as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/LilCapGunYellow.png" alt="Lil' Cap Gun Yellow Pattern">

                <br>

            </p>

            <h2> Orange Patterns </h2>
            <p>
                The high patterns on the charm will make the gun tip orange.
                As the pattern gets closer to 100.000 it will be more orange.
                This means pattern 100.000 is the best pattern and the pattern where the gun tip is as orange as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/LilCapGunOrange.png" alt="Lil' Cap Gun Orange Pattern">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>