<!DOCTYPE html>

<head>
    <title>Pocket AWP Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/pocket_awp_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Pocket AWP Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, Pocket AWP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Pocket AWP Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Pocket AWP Charm </h2>
            <p> 
                The Pocket AWP Charm is a high grade collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(49, 107, 15);">
            <h2> Green Patterns </h2>
            <p>
                The low patterns on the charm will make the gun green.
                As the pattern gets closer to 1 it will be more green.
                This means pattern 1 is the best pattern and the pattern where the gun is as green as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/PocketAWPGreen.png" alt="Pocket AWP Green Pattern">

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(72, 158, 238);">
            <h2> Blue Patterns </h2>
            <p>
                The patterns around pattern 40.000 on the charm will make the gun blue.
                As the pattern gets closer to 40.000 it will be more blue.
                This means pattern 40.000 is the best pattern and the pattern where the gun is as blue as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/PocketAWPBlue.png" alt="Pocket AWP Blue Pattern">

                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(109, 16, 196);">
            <h2> Purple Patterns </h2>
            <p>
                The patterns around pattern 60.000 on the charm will make the gun purple.
                As the pattern gets closer to 60.000 it will be more purple.
                This means pattern 60.000 is the best pattern and the pattern where the gun is as purple as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/PocketAWPPurple.png" alt="Pocket AWP Purple Pattern">
                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(231, 67, 61);">
            <h2> Red Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the gun red.
                As the pattern gets closer to 80.000 it will be more red.
                This means pattern 80.000 is the best pattern and the pattern where the gun is as red as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/PocketAWPRed.png" alt="Pocket AWP Red Pattern">
                <br>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(109, 61, 6);">
            <h2> Brown Patterns </h2>
            <p>
                The patterns around pattern 100.000 on the charm will make the gun brown.
                As the pattern gets closer to 100.000 it will be more brown.
                This means pattern 100.000 is the best pattern and the pattern where the gun is as brown as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/PocketAWPBrown.png" alt="Pocket AWP Brown Pattern">
                <br>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>