<!DOCTYPE html>

<head>
    <title>POP Art Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/pop_art_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the POP Art Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, POP Art">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> POP Art Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> POP Art Charm </h2>
            <p> 
                The POP Art Charm is a remarkable collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 1 </h2>
            <p>
                The patterns around pattern 1 contain blue and green.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern1.png" alt="POP Art Pattern 1">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20115080010173D0000000045000000004D0000000050012C5B6D94" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 10.000 </h2>
            <p>
                The patterns around pattern 10.000 contain purple, blue and green.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern10000.png" alt="POP Art Pattern 10K">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20115080010173D0000000045000000004D0000000050012C5B6D94" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 20.000 </h2>
            <p>
                The patterns around pattern 20.000 contain pink, purple, blue and green.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern20000.png" alt="POP Art Pattern 20K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20116080010173D0000000045000000004D0000000050904E1C5244C5" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>
            
            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 30.000 </h2>
            <p>
                The patterns around pattern 30.000 contain purple, blue, green and more pink (compared to pattern 20,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern30000.png" alt="POP Art Pattern 30K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D0000000050B0EA012EAEA1D8" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 40.000 </h2>
            <p>
                The patterns around pattern 40.000 contain purple, blue, green and more pink (compared to pattern 30,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern40000.png" alt="POP Art Pattern 40K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D0000000050C0B802904DD658" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 50.000 </h2>
            <p>
                The patterns around pattern 50.000 contain orange, pink, purple and blue.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern50000.png" alt="POP Art Pattern 50K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D0000000050D08603F16D9B2C" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 60.000 </h2>
            <p>
                The patterns around pattern 60.000 contain yellow, pink, purple and blue.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern60000.png" alt="POP Art Pattern 60K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D0000000050E0D403EE9076FC" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 70.000 </h2>
            <p>
                The patterns around pattern 70.000 contain yellow/green, pink, purple and blue.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern70000.png" alt="POP Art Pattern 70K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D0000000050F0A204C2581820" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 80.000 </h2>
            <p>
                The patterns around pattern 80.000 contain green, yellow, pink and purple.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern80000.png" alt="POP Art Pattern 80K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D000000005080F1048F646424" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 90.000 </h2>
            <p>
                The patterns around pattern 90.000 contain yellow, pink, purple and more green (compared to pattern 80,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern90000.png" alt="POP Art Pattern 90K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010173D0000000045000000004D000000005090BF05F3D14F88" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(195, 15, 240);">
            <h2> Pattern 100.000 </h2>
            <p>
                The patterns around pattern 100.000 contain yellow, pink, purple and more green (compared to pattern 90,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern100000.png" alt="POP Art Pattern 100K">
                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20116080010173D0000000045000000004D0000000050904E1C5244C5" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>