<!DOCTYPE html>

<head>
    <title>POP Art Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/pop_art_charm.html" />
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> POP Art Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> POP Art Charm </h2>
            <p> 
                The POP Art Charm is a remarkable collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the POP Art charm is pattern based.
                The pattern determines the look of the charm itself.
                For the POP Art charm it changes the color of the POP box, depending on the pattern it can be blue, green, purple, pink, orange, yellow and green.

                There are many different variations for this charm, and all of them contain 2, 3 or 4 colors at the same time.
                I have therefore listed images for the patterns: #1, #10.000, #20.000, #30.000, #40.000, #50.000, #60.000, #70.000, #80.000, #90.000, #100.000
            </p>

            <br>

            <h2> Pattern 1 </h2>
            <p>
                The patterns around pattern 1 contain blue and green.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern1.png" alt="POP Art Pattern 1">

                <br>

            </p>

            <h2> Pattern 10.000 </h2>
            <p>
                The patterns around pattern 10.000 contain purple, blue and green.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern10000.png" alt="POP Art Pattern 10K">

                <br>

            </p>

            <h2> Pattern 20.000 </h2>
            <p>
                The patterns around pattern 20.000 contain pink, purple, blue and green.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern20000.png" alt="POP Art Pattern 20K">
                <br>

            </p>
            
            <h2> Pattern 30.000 </h2>
            <p>
                The patterns around pattern 30.000 contain purple, blue, green and more pink (compared to pattern 20,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern30000.png" alt="POP Art Pattern 30K">
                <br>

            </p>

            <h2> Pattern 40.000 </h2>
            <p>
                The patterns around pattern 40.000 contain purple, blue, green and more pink (compared to pattern 30,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern40000.png" alt="POP Art Pattern 40K">
                <br>

            </p>

            <h2> Pattern 50.000 </h2>
            <p>
                The patterns around pattern 50.000 contain orange, pink, purple and blue.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern50000.png" alt="POP Art Pattern 50K">
                <br>

            </p>

            <h2> Pattern 60.000 </h2>
            <p>
                The patterns around pattern 60.000 contain yellow, pink, purple and blue.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern60000.png" alt="POP Art Pattern 60K">
                <br>

            </p>

            <h2> Pattern 70.000 </h2>
            <p>
                The patterns around pattern 70.000 contain yellow/green, pink, purple and blue.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern70000.png" alt="POP Art Pattern 70K">
                <br>

            </p>

            <h2> Pattern 80.000 </h2>
            <p>
                The patterns around pattern 80.000 contain green, yellow, pink and purple.

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern80000.png" alt="POP Art Pattern 80K">
                <br>

            </p>

            <h2> Pattern 90.000 </h2>
            <p>
                The patterns around pattern 90.000 contain yellow, pink, purple and more green (compared to pattern 80,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern90000.png" alt="POP Art Pattern 90K">
                <br>

            </p>

            <h2> Pattern 100.000 </h2>
            <p>
                The patterns around pattern 100.000 contain yellow, pink, purple and more green (compared to pattern 90,000).

                <br>

                <img class="smallArmsCharmImage" src = "/main/images/smallArmsPatterns/POPArtPattern100000.png" alt="POP Art Pattern 100K">
                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>