<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Semi-Precious Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Semi-Precious Charm </h2>
            <p> 
                The Semi-Precious Charm is a exotic collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Semi-Precious charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Semi-Precious charm it changes the color of the charm, depending on the pattern it can be green, cyan and purple.
            </p>

            <br>

            <h2> Green Patterns </h2>
            <p>
                The low patterns on the charm will make the charm green.
                As the pattern gets closer to 1 it will be more green.
                This means pattern 1 is the best pattern and the pattern where the charm is as green as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/SemiPreciousGreen.png" alt="Semi-Precious Green Pattern">

                <br>

            </p>

            <h2> Cyan Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm cyan.
                As the pattern gets closer to 50.000 it will be more cyan.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as cyan as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/SemiPreciousBlue.png" alt="Semi-Precious Blue Pattern">

                <br>

            </p>

            <h2> Purple Patterns </h2>
            <p>
                The high patterns on the charm will make the charm purple.
                As the pattern gets closer to 100.000 it will be more purple.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/SemiPreciousPurple.png" alt="Semi-Precious Purple Pattern">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>