<!DOCTYPE html>

<head>
    <title>Semi Precious Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/smallArmsCharms/semi_precious_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Semi Precious Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, Semi Precious">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Semi-Precious Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Semi-Precious Charm </h2>
            <p> 
                The Semi-Precious Charm is a exotic collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(16, 250, 28);">
            <h2> Green Patterns </h2>
            <p>
                The low patterns on the charm will make the charm green.
                As the pattern gets closer to 1 it will be more green.
                This means pattern 1 is the best pattern and the pattern where the charm is as green as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/SemiPreciousGreen.png" alt="Semi-Precious Green Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A201150800101D3D0000000045000000004D0000000050013129EE72" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(15, 105, 240);">
            <h2> Cyan Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm cyan.
                As the pattern gets closer to 50.000 it will be more cyan.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as cyan as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/SemiPreciousBlue.png" alt="Semi-Precious Blue Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A201170800101D3D0000000045000000004D0000000050D08603A4C8182C" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(118, 19, 143);">
            <h2> Purple Patterns </h2>
            <p>
                The high patterns on the charm will make the charm purple.
                As the pattern gets closer to 100.000 it will be more purple.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/SemiPreciousPurple.png" alt="Semi-Precious Purple Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A201170800101D3D0000000045000000004D0000000050A08D06CE58C144" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>