<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Titeenium AWP Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Titeenium AWP Charm </h2>
            <p> 
                The Titeenium AWP Charm is a exotic collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Titeenium AWP charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Titeenium AWP charm it changes the color of the charm, depending on the pattern it can be yellow, green, blue and purple.
            </p>

            <br>

            <h2> Yellow Patterns </h2>
            <p>
                The low patterns on the charm will make the charm yellow.
                As the pattern gets closer to 1 it will be more yellow.
                This means pattern 1 is the best pattern and the pattern where the charm is as yellow as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/TiteeniumAWPYellow.png">

                <br>

            </p>

            <h2> Green Patterns </h2>
            <p>
                The patterns around pattern 40.000 on the charm will make the charm green.
                As the pattern gets closer to 40.000 it will be more green.
                This means pattern 40.000 is the best pattern and the pattern where the charm is as green as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/TiteeniumAWPGreen.png">

                <br>

            </p>

            <h2> Blue Patterns </h2>
            <p>
                The patterns around pattern 60.000 on the charm will make the charm blue.
                As the pattern gets closer to 60.000 it will be more blue.
                This means pattern 60.000 is the best pattern and the pattern where the charm is as blue as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/TiteeniumAWPBlue.png">

                <br>

            </p>

            <h2> Purple Patterns </h2>
            <p>
                The high patterns on the charm will make the charm purple.
                As the pattern gets closer to 100.000 it will be more purple.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as purple as it can get.


                <br>

                <img id = "articleImage" src = "/main/images/smallArmsPatterns/TiteeniumAWPPurple.png">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>