<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Whittle Knife Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Whittle Knife Charm </h2>
            <p> 
                The Whittle Knife Charm is a high grade collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Whittle Knife charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Whittle Knife charm it changes the color of the charm, depending on the pattern it can be light brown, brown and dark brown.
            </p>

            <br>

            <h2> Light Brown Patterns </h2>
            <p>
                The low patterns on the charm will make the charm light brown.
                As the pattern gets closer to 1 it will be lighter.
                This means pattern 1 is the best pattern and the pattern where the charm is as light brown as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/WhittleKnifeLightBrown.png">

                <br>

            </p>

            <h2> Brown Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm brown.
                As the pattern gets closer to 50.000 it will be more brown.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as brown as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/WhittleKnifeBrown.png">

                <br>

            </p>

            <h2> Dark Brown Patterns </h2>
            <p>
                The high patterns on the charm will make the charm dark brown.
                As the pattern gets closer to 100.000 it will be darker.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as dark brown as it can get.

                <br>

                <img class="verticalSmallArmsCharmImage" src = "/main/images/smallArmsPatterns/WhittleKnifeDarkBrown.png">
                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>