<!DOCTYPE html>

<head>
    <title>Lil Squirt Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/Views/smallArmsCharms/lil_squirt_charm.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Lil Squirt Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, Lil Squirt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Lil' Squirt Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Lil' Squirt Charm </h2>
            <p> 
                The Lil' Squirt Charm is a exotic collectible from the Small Arms Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(126, 255, 75);">
            <h2> Green Patterns </h2>
            <p>
                The low patterns on the charm will make the charm green.
                As the pattern gets closer to 1 it will be more green.
                This means pattern 1 is the best pattern and the pattern where the charm is as green as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/images/smallArmsPatterns/LilSquirtGreen.png" alt="Lil' Squirt Green Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20115080010183D0000000045000000004D00000000500120307944" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(0, 132, 255);">
            <h2> Blue Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm blue.
                As the pattern gets closer to 50.000 it will be more blue.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as blue as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/images/smallArmsPatterns/LilSquirtBlue.png" alt="Lil' Squirt Blue Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010183D0000000045000000004D0000000050D08603EFC6BC90" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(193, 59, 255);">
            <h2> Purple Patterns </h2>
            <p>
                The patterns around pattern 70.000 on the charm will make the charm purple.
                As the pattern gets closer to 70.000 it will be more purple.
                This means pattern 70.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/images/smallArmsPatterns/LilSquirtPurple.png" alt="Lil' Squirt Purple Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010183D0000000045000000004D0000000050F0A20453592384" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(255, 75, 240);">
            <p>
                The high patterns on the charm will make the charm pink.
                As the pattern gets closer to 100.000 it will be more pink.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as pink as it can get.

                <br>

                <img class="smallArmsCharmImage" src = "/images/smallArmsPatterns/LilSquirtPink.png" alt="Lil' Squirt Pink Pattern">

                <br>

                <a href="steam://rungame/730/76561202255233023/+csgo_econ_action_preview%200018CB0A2000280138004000A20117080010183D0000000045000000004D0000000050A08D0638840360" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

            </p>
            </div>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>