<!DOCTYPE html>

<head>
    <title>Big Kev Charm Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/missingLinkCharms/big_kev_charm" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the Big Kev Charm.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, Charm, Big Kev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/articles.css">

    <script src="/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Big Kev Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Big Kev Charm </h2>
            <p> 
                The Big Kev Charm is a high grade collectible from the Missing Link Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Big Kev charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Big Kev charm it changes the color of the shirt and tie, depending on the pattern it can be pink, purple, or blue.
            </p>

            <br>

            <h2> Pink Shirt & Tie Patterns </h2>
            <p>
                The low patterns on the charm will make the charms shirt and tie pink.
                As the pattern gets closer to 1 it will be more pink.
                This means pattern 1 is the best pattern and the pattern where the charms shirt and tie is as pink as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/images/missingLinkPatterns/BigKevPink.png" alt="Big Kev Charm Pink Shirt & Tie Pattern">

                <br>

            </p>

            <br>

            <h2> Purple Shirt & Tie Patterns </h2>
            <p>
                The mid-range patterns on the charm will make the charms shirt and tie purple.
                As the pattern gets closer to 50.000 it will be more purple.
                This means pattern 50.000 is the best pattern and the pattern where the charms shirt and tie is as purple as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/images/missingLinkPatterns/BigKevPurple.png" alt="Big Kev Charm Purple Shirt & Tie Pattern">

                <br>

            </p>

            <h2> Blue Shirt & Tie Patterns </h2>
            <p>
                The high patterns on the charm will make the charms shirt and tie blue.
                As the pattern gets closer to 100.000 it will be more blue.
                This means pattern 100.000 is the best pattern and the pattern where the charms shirt and tie is as blue as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/images/missingLinkPatterns/BigKevBlue.png" alt="Big Kev Charm Blue Shirt & Tie Pattern">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>