<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Chicken Lil' Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Chicken Lil' Charm </h2>
            <p> 
                The Chicken Lil' Charm is a remarkable collectible from the Missing Link Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Chicken Lil' charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Chicken Lil' charm it changes the color of the charm's legs and head, depending on the pattern it can be blue, purple, red, orange, yellow, green, and cyan.
            </p>

            <br>

            <h2> Blue Patterns </h2>
            <p>
                The low patterns on the charm will make the charms legs and head blue.
                As the pattern gets closer to 1 it will be more blue.
                This means pattern 1 is the best pattern and the pattern where the charm is as blue as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilBlue.png" alt="Chicken Lil' Charm Blue Pattern">

                <br>

            </p>

            <h2> Blue & Purple Patterns </h2>
            <p>
                The patterns around pattern 10.000 on the charm will make the charms legs purple and head blue.
                As the pattern gets closer to 10.000 the legs will be more purple and the head more blue.
                This means pattern 10.000 is the best pattern and the pattern where the charms legs/head is as purple/blue as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilBluePurple.png"  alt="Chicken Lil' Charm Blue and Purple Pattern">

                <br>

            </p>

            <h2> Purple Patterns </h2>
            <p>
                The patterns around pattern 20.000 on the charm will make the charms legs and head purple.
                As the pattern gets closer to 20.000 the legs and head will be more purple.
                This means pattern 20.000 is the best pattern and the pattern where the charms legs and head is as purple as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilPurple.png" alt="Chicken Lil' Charm Purple Pattern">

                <br>

            </p>

            <h2> Pink Patterns </h2>
            <p>
                The patterns around pattern 40.000 on the charm will make the charms legs and head pink.
                As the pattern gets closer to 40.000 the legs and head will be more pink.
                This means pattern 40.000 is the best pattern and the pattern where the charms legs and head is as pink as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilPink.png" alt="Chicken Lil' Charm Pink Pattern">

                <br>

            </p>

            <h2> Red & Orange Patterns </h2>
            <p>
                The mid patterns on the charm will make the charms legs orange and head red.
                This makes the charm a normal colored chicken. As the pattern gets closer to 50.000 the legs will be more orange and the head more red.
                This means pattern 50.000 is the best pattern and the pattern where the charms legs/head is as orange/red as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilOrangeRed.png" alt="Chicken Lil' Charm Orange and Red Pattern">

                <br>

            </p>

            <h2> Yellow Patterns </h2>
            <p>
                The patterns around pattern 70.000 on the charm will make the charms legs and head yellow.
                As the pattern gets closer to 70.000 the legs and head will be more yellow.
                This means pattern 70.000 is the best pattern and the pattern where the charms legs and head is as yellow as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilYellow.png"  alt="Chicken Lil' Charm Yellow Pattern">

                <br>

            </p>

            <h2> Green Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the charms legs and head green.
                As the pattern gets closer to 80.000 the legs and head will be more green.
                This means pattern 80.000 is the best pattern and the pattern where the charms legs and head is as green as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilGreen.png" alt="Chicken Lil' Charm Green Pattern">

                <br>

            </p>

            <h2> Cyan Patterns </h2>
            <p>
                The patterns around pattern 100.000 on the charm will make the charms legs and head cyan.
                As the pattern gets closer to 100.000 the legs and head will be more cyan.
                This means pattern 100.000 is the best pattern and the pattern where the charms legs and head is as cyan as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/ChickenLilCyan.png" alt="Chicken Lil' Charm Cyan Pattern">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>