<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Lil' Crass Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Lil' Crass Charm </h2>
            <p> 
                The Lil' Crass Charm is a high grade collectible from the Missing Link Charm collection, which got added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Lil' Crass charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Lil' Crass charm it changes the color of the headband on Crass, depending on the pattern it can be red, orange, yellow, green or blue.
            </p>

            <br>

            <h2> Red Headband Patterns </h2>
            <p>
                The low patterns on the charm will make Crass wear a red headband.
                As the pattern gets closer to 1 it will be more red.
                This means pattern 1 is the best pattern and the pattern where the headband is as red as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/CrassRedHeadband.png">

                <br>

            </p>

            <h2> Orange Headband Patterns </h2>
            <p>
                The low mid-range patterns on the charm will make Crass wear an orange headband.
                As the pattern gets closer to 40.000 it will be more orange.
                This means pattern 40.000 is the best pattern and the pattern where the headband is as orange as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/CrassOrangeHeadband.png">

                <br>

            </p>

            <h2> Yellow Headband Patterns </h2>
            <p>
                The high mid-range patterns on the charm will make Crass wear a yellow headband.
                As the pattern gets closer to 60.000 it will be more yellow.
                This means pattern 60.000 is the best pattern and the pattern where the headband is as yellow as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/CrassYellowHeadband.png">

                <br>

            </p>

            <h2> Green Headband Patterns </h2>
            <p>
                The high-range patterns on the charm will make Crass wear a green headband.
                As the pattern gets closer to 80.000 it will be more green.
                This means pattern 80.000 is the best pattern and the pattern where the headband is as green as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/CrassGreenHeadband.png">

                <br>

            </p>

            <h2> Blue Headband Patterns </h2>
            <p>
                The high patterns on the charm will make Crass wear a blue headband.
                As the pattern gets closer to 100.000 it will be more blue.
                This means pattern 100.000 is the best pattern and the pattern where the headband is as blue as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/CrassBlueHeadband.png">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>