<!DOCTYPE html>

<head>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/missingLinkCharms/lil_squatch_charm.html" />
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Lil' Squatch Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Lil' Squatch Charm </h2>
            <p> 
                The Lil' Squatch Charm is a remarkable collectible from the Missing Link Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Lil' Squatch charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Lil' Squatch charm it changes the color of the charm's headband, shorts, and socks, depending on the pattern it can be orange, yellow, green, blue, purple, or pink.
            </p>

            <br>

            <h2> Orange Patterns </h2>
            <p>
                The low patterns on the charm will make the charm's clothes orange.
                As the pattern gets closer to 1 it will be more orange.
                This means pattern 1 is the best pattern and the pattern where the charm is as orange as it can get.


                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/LilSquatchOrange.png" alt="Lil' Squatch Charm Orange Pattern">

                <br>

            </p>

            <h2> Yellow Patterns </h2>
            <p>
                The semi-low patterns on the charm will make the charm's clothes yellow.
                As the pattern gets closer to 10.000 it will be more yellow.
                This means pattern 10.000 is the best pattern and the pattern where the charm is as yellow as it can get.


                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/LilSquatchYellow.png" alt="Lil' Squatch Charm Yellow Pattern">

                <br>

            </p>

            <h2> Green Patterns </h2>
            <p>
                The mid-low patterns on the charm will make the char's clothes green.
                As the pattern gets closer to 30.000 it will be more green.
                This means pattern 30.000 is the best pattern and the pattern where the charm is as green as it can get.


                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/LilSquatchGreen.png" alt="Lil' Squatch Charm Green Pattern">

                <br>

            </p>

            <h2> Blue Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm's clothes blue.
                As the pattern gets closer to 50.000 it will be more blue.
                This means pattern 50.000 is the best pattern and the pattern where the charm is as blue as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/LilSquatchBlue.png" alt="Lil' Squatch Charm Blue Pattern">

                <br>

            </p>

            <h2> Purple Patterns </h2>
            <p>
                The high-mid patterns on the charm will make the charm's clothes purple.
                As the pattern gets closer to 80.000 it will be more purple.
                This means pattern 80.000 is the best pattern and the pattern where the charm is as purple as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/LilSquatchPurple.png" alt="Lil' Squatch Charm Purple Pattern">

                <br>

            </p>

            <h2> Pink Patterns </h2>
            <p>
                The high-mid patterns on the charm will make the charm's clothes pink.
                As the pattern gets closer to 100.000 it will be more pink.
                This means pattern 100.000 is the best pattern and the pattern where the charm is as pink as it can get.

                <br>

                <img class = "missingLinkCharmImage" src = "/main/images/missingLinkPatterns/LilSquatchPink.png" alt="Lil' Squatch Charm Pink Pattern">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>