<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> Lil' Monster Charm Pattern Guide </h1>

            <br>
            <br>

            <h2> Lil' Monster Charm </h2>
            <p> 
                The Lil' Monster Charm is a exotic collectible from the Missing Link Charm collection, which was added to the game on the 4th October 2024.
            </p>

            <br>

            <h2> Patterns </h2>
            <p>
                Like any other charm in the game, the Lil' Monster charm is pattern based.
                The pattern determines the look of the charm itself.
                For the Lil' Monster charm it changes the color of the charm's tongue, depending on the pattern it can be red, orange, yellow, green, cyan and blue.
            </p>

            <br>

            <h2> Red Patterns </h2>
            <p>
                The low patterns on the charm will make the charm's tongue red.
                As the pattern gets closer to 1 it will be more red.
                This means pattern 1 is the best pattern and the pattern where the charm's tongue is as red as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/LilMonsterRed.png">

                <br>

            </p>

            <h2> Orange Patterns </h2>
            <p>
                The patterns around pattern 10.000 on the charm will make the charm's tongue orange.
                As the pattern gets closer to 10.000 it will be more orange.
                This means pattern 10.000 is the best pattern and the pattern where the charm's tongue is as orange as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/LilMonsterOrange.png">

                <br>

            </p>

            <h2> Yellow Patterns </h2>
            <p>
                The patterns around pattern 20.000 on the charm will make the charm's tongue yellow.
                As the pattern gets closer to 20.000 it will be more yellow.
                This means pattern 20.000 is the best pattern and the pattern where the charm's tongue is as yellow as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/LilMonsterYellow.png">

                <br>

            </p>

            <h2> Green Patterns </h2>
            <p>
                The mid patterns on the charm will make the charm's tongue green.
                As the pattern gets closer to 50.000 it will be more green.
                This means pattern 50.000 is the best pattern and the pattern where the charm's tongue is as green as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/LilMonsterGreen.png">

                <br>

            </p>

            <h2> Cyan Patterns </h2>
            <p>
                The patterns around pattern 80.000 on the charm will make the charm's tongue cyan.
                As the pattern gets closer to 80.000 it will be more cyan.
                This means pattern 80.000 is the best pattern and the pattern where the charm's tongue is as cyan as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/LilMonsterCyan.png">

                <br>

            </p>

            <h2> Blue Patterns </h2>
            <p>
                The high patterns on the charm will make the charm's tongue blue.
                As the pattern gets closer to 100.000 it will be more blue.
                This means pattern 100.000 is the best pattern and the pattern where the charm's tongue is as blue as it can get.

                <br>

                <img id = "articleImage" src = "/main/images/missingLinkPatterns/LilMonsterBlue.png">

                <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>