<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "/main/images/skinsMonkeyBanner.png">

    </div>

    <div id = "articleBannerRight">

        <img src = "/main/images/skinsMonkeyBanner.png">

    </div>


    <div id = "patternTemplateImage">

        <img src = "">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>Glock-18 Moonrise Pattern Guide</h1>

            <br>
            <br>

            <h2> Glock-18 Moonrise </h2>
            <p> The Glock-18 Moonrise is a restricted skin from the Clutch collection, which got added to the game on the 16th February 2018. 
                It’s a very unique skin and is well-known for its star patterns.
            </p>

            <br>

            <h2> Float </h2>
            <p>
                The Glock-18 Moonrise can be obtained in the float range 0.00 - 0.65.
                This means the skin only exists in all conditions, but in Battle-Scarred condition it can’t have a float higher than 0.65.
            </p>

            <br>

            <h2> Star Patterns </h2>
            <p>
                The star patterns are the patterns where the star is visible on the skin. 
                It’s more visible on some patterns than others, which is why the patterns are divided into different tiers.

                <br>

                Tier 1: 58, 59, 66, 90, 102, 224, 601, 628, 694, 706, 837, 864

                <br>

                Tier 2: 19, 109, 142, 165, 194, 237, 302, 403, 475, 487, 509, 800, 958

                <br>

                Tier 3: 31, 38, 95, 121, 137, 268, 281, 355, 385, 448, 484, 617, 630, 667, 737, 744, 769, 913, 986

            </p>

            <br>
            <br>

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>