<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "/main/images/patternTemplates/FadeTemplate.png">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>Glock-18 Fade Pattern Guide</h1>

            <br>
            <br>

            <h2> Glock-18 Fade </h2>
            <p> 
                The Glock-18 Fade is a restricted skin form the Assault collection, which got added to the game on the 14th August 2013 in the arms deal update.
                It’s a very expensive and unique skin like the other fade skins.

                <br>
                <br>

                The Glock-18 Fade has a Fade%, which ranges from 80% - 100% and each unique pattern is connected to the same Fade%.
                This means pattern 129 will always be the same Fade%.
                The most desired patterns and Fade% for the Glock-18 Fade are the ones with Max Fade% or Minimum Fade%, usually Max Fade% are the most desired.

                <br>
                <br>

                The Fade% also has an effect on the colors of the skin itself.
                Where higher fade will make the skin more purple and less white, and lower fade will make the skin more white and less purple.

            </p>

            <br>

            <h2> Float </h2>
            <p>
                The Glock-18 Fade can be obtained in the float range 0.00 - 0.08.
                This means the skin only exists in Factory New and Minimal Wear condition.
            </p>

            <br>

            <h2> Max Fade% Patterns </h2>
            <p>
                The Max Fade% patterns are the patterns being 100% Fade.
                This means where the skin has the most amount of purple and least amount of white.

                <br>

                Best Max Fade% Pattern: 763

                <br>

                <img id = "articleImage" src = "/main/images/pistolPatterns/glock18_fade_pattern763.png">

                <br>

                Max Fade% Patterns: 34, 41, 87, 93, 205, 256, 326, 341, 348, 403, 468, 520, 521, 527, 575, 583, 601, 636, 651, 668, 714, 742, 763, 807, 848, 892, 897, 910, 911, 944, 961
            
             </p>

             <h2> Minimum Fade% Patterns </h2>
            <p>
                The Minimum Fade% patterns are the patterns being 80% Fade.
                This means where the skin has the most amount of purple and pink.
                
                <br>

                Best Minimum Fade% Pattern: 412

                <br>

                <img id = "articleImage" src = "/main/images/pistolPatterns/glock18_fade_pattern412.png">

                <br>

                Minimum Fade% Patterns: 16, 126, 129, 146, 152, 241, 281, 292, 332, 344, 359, 393, 412, 541, 602, 628, 649, 673, 688, 701, 743, 777, 787, 792, 874, 908, 918, 923, 994
            
            </p>



    </article>
</div> 

    <div id="pageFooter"></div>

</body>