<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/weaponImages.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>
    <script src="/main/Data/displayImages.js" defer></script>
    <script src="/main/Data/pistols/pistolsData.js" defer></script>
    <script src="/main/Data/pistols/pistolsDisplay.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

<div id = "articleBannerLeft">

    <img src = "/main/images/skinsMonkeyBanner.png">

</div>

<div id = "articleBannerRight">

    <img src = "/main/images/skinsMonkeyBanner.png">

</div>

    <div class="content-wrapper">

    <div class="groupImageDisplay">
        <div class="defaultPistolImages"></div>
    </div>

    </div>

    <br>

    <div id="pageFooter"></div>

</body>