<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "/main/images/patternTemplates/PawTemplate.jpg" alt="Paw Pattern Template">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>AWP Paw Pattern Guide</h1>

            <br>
            <br>

            <h2> AWP Paw </h2>
            <p> 
                The AWP Paw is a restricted skin from the Horizon collection, which got added to the game on the 3rd august 2018. It’s a very popular and affordable AWP skin.
                The skin has many different patterns, some more desired than others.

                <br>
                <br>

                The skin itself contains many dogs and cats.
                The desired patterns on this skin contain some specific dogs, cats and objects.
                We have the golden cat, golden grenade, golden mask, golden cat with knife, and stoner cat.

            </p>

            <br>

            <h2> Float </h2>
            <p>
                The AWP Paw can be obtained in the float range 0.00 - 0.50.
                This means the skin only exists in all conditions, but in Battle-Scarred condition it can’t have a float higher than 0.50.
            </p>

            <br>

            <h2> Golden Cat Patterns </h2>
            <p>
                The golden cat patterns are the patterns where the golden cat is visible on the skin.
                It’s more visible on some patterns than others.
                The golden cat is a golden cat with a red leash and a golden medal around its neck.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_paw_pattern41.png" alt="AWP Paw Pattern 41">

                <br>

                Tier 1: 41, 350

                <br>
                <br>

                Tier 2: 19, 35,177, 531, 581, 624, 644, 744

                <br>
                <br>

                Tier 3: 138, 192, 304, 321, 368, 393, 435, 480, 493, 565, 675, 741, 802, 807, 895, 919, 999

            </p>

            <br>
            <br>

            <h2> Golden Grenate Patterns</h2>
            <p>
                The golden grenade patterns are the patterns where the golden grenade is visible on the skin.
                It’s more visible on some patterns than others, but there are many different golden grenade patterns in existence.
                The golden grenade is a grenade similar to the one in-game.
        
                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_paw_pattern429.png" alt="AWP Paw Pattern 429">

                <br>

                Tier 1: 429, 926, 954

                <br>
                <br>

                Tier 2: 3, 4, 26, 38, 53, 63, 73, 78, 103, 122, 156, 158, 163, 182, 186, 216, 232, 234, 247, 270, 279, 307, 334, 347, 411, 430, 463, 467, 575, 749, 819, 891, 917, 952, 957, 961

            </p>

            <h2> Gas Mask Patterns </h2>
            <p>
                The gas mask patterns are the patterns containing the gas mask.
                The gas mask is a black gas mask on the face of a brown dog.
                It’s more visible on some patterns than others.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_paw_pattern29.png" alt="AWP Paw Pattern 29">

                <br>

                Tier 1: 29, 97, 685, 900

                <br>
                <br>

                Tier 2: 62, 75, 120

                <br>
                <br>

                Tier 3: 2, 32, 209, 291, 294, 458, 492, 566, 647, 916, 992

            </p>

            <h2> Golden Cat With Knife Patterns </h2>
            <p>
                The golden cat with knife patterns are the patterns containing the golden cat with a knife.
                This is not the same golden cat as the one from the golden cat patterns above. This one has a red scarf, a knife in the left hand, and is more of a beige golden color compared to the other golden cat.
                It’s more visible on some patterns than others.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_paw_pattern212.png" alt="AWP Paw Pattern 212">

                <br>

                Tier 1: 212, 369, 628, 737

                <br>
                <br>

                Tier 2: 84, 339, 366, 472, 859, 864

                <br>
                <br>

                Tier 3: 319, 322, 114, 396, 509, 559, 804, 830, 977, 406

            </p>

            <h2> Stoner Cat Patterns </h2>
            <p>
                The stoner cat patterns are the patterns containing the stoner cat.
                The stoner cat is a white cat with a smoke grenade in his hands.
                It’s more visible on some patterns than others.

                <br>
                <br>

                Something mentionable about this pattern is that one of the best patterns for the stoner cat pattern is pattern 420.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_paw_pattern415.png" alt="AWP Paw Pattern 415">

                <br>

                Tier 1: 415, 420, 710, 788

                <br>
                <br>

                Tier 2: 85, 176, 187, 306

            </p>


    </article>
</div> 

    <div id="pageFooter"></div>

</body>