<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "/main/images/skinsMonkeyBanner.png">

    </div>

    <div id = "articleBannerRight">

        <img src = "/main/images/skinsMonkeyBanner.png">

    </div>


    <div id = "patternTemplateImage">

        <img src = "/main/images/patternTemplates/ElectricHiveTemplate.png">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1>AWP Electric Hive Pattern Guide</h1>

            <br>
            <br>

            <h2> AWP Electric Hive </h2>
            <p> 
                The AWP Electric Hive is a classified skin from the eSports 2013 Winter collection, which got added the 13th december 2013.
                It was therefore one of the first AWP skins in the game.
                It’s also very unique compared to many other skins.

                <br>
                <br>

                The skin itself contains many hexagons in both warm and cold colors.
                The most desired pattern for the skin is where you have the most hexagon being either blue or orange.

            </p>

            <br>

            <h2> Float </h2>
            <p>
                The AWP Electric Hive can be obtained in the float range 0.00 - 0.40.
                This means the skin only exists in all conditions except Battle-Scarred, and in Well-Worn it can’t have a float higher than 0.40.
            </p>

            <br>

            <h2> Blue Patterns </h2>
            <p>
                The blue patterns are the patterns where you find the most hexagons being blue on the skin.
                Some of these are more blue than others, but this is the best ones in existence.

                <br>

                <img id = "articleImage" src = "/main/images/riflePatterns/awp_electrichive_pattern23.png">

                <br>

                Best blue patterns: 23, 138, 185, 262, 273, 385, 436, 598, 851, 853, 902

            </p>

            <br>
            <br>

            <h2> Orange Patterns</h2>
            <p>
                The orange patterns are the patterns where you find the most hexagons being orange on the skin.
                Some of these are more blue than others, but this is the best ones in existence.
        
                <br>

                <img id = "articleImage" src = "/main/images/riflePatterns/awp_electrichive_pattern42.png">

                <br>

                Best orange patterns: 42, 54, 96, 117, 143, 253, 354, 376, 384, 540, 611, 697, 767, 835, 894

            </p>

    </article>
</div> 

    <div id="pageFooter"></div>

</body>