<!DOCTYPE html>

<head>
    <title>AWP Boom Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/rifles/awp_boom.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full pattern guide for the AWP Boom.">
    <meta name="keywords" content="Pattern Guide, Skin Pattern Guide, AWP, Boom">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>

</head>

<body>

    <div id="pageHeader"></div>

    <div id = "articleBannerLeft">

        <img src = "">

    </div>

    <div id = "articleBannerRight">

        <img src = "">

    </div>


    <div id = "patternTemplateImage">

        <img src = "/main/images/patternTemplates/BoomTemplate.png" alt="Boom Pattern Template">

    </div> 

    <div class="content-wrapper">
        <article>

            <br>

            <h1> AWP Boom Pattern Guide </h1>

            <br>
            <br>

            <h2> AWP Boom </h2>
            <p> 
                The AWP Boom is a classified skin from the eSports 2013 collection, which got added to the game on the 14th August 2013.
                It’s a very old and popular skin, which has a lot of unique patterns.


                <br>
                <br>

                The skin itself is orange and contains different pop messages.This is “Blam!”, “Boom!”, ”Crack!”, and ”Pow!”.
                The most desired patterns are where the “Boom!” is centered on the skin, and where the “Crack!” is over the hole at the handle of the AWP, so it’s showing “C*ck!” instead of “Crack!”.
                It’s also possible to get a double “Boom!” centered.

            </p>

            <br>

            <h2> Float </h2>
            <p>
                The AWP Boom can be obtained in the float range 0.06 - 0.28. This means the skin only exists in Factory New, Minimal Wear and Field-Tested condition.
                This is an extremely rare skin in Factory New condition, since this only can have a float in the range 0.06 - 0.07.
            </p>

            <br>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(255, 123, 0);">
            <h2> Boom Patterns </h2>
            <p>
                The boom patterns are the patterns where the “Boom!” pop message is visible on the skin and centered on the AWP.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_boom_pattern15.png" alt="AWP Boom Pattern 15">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 15, 85, 133, 188, 199, 206, 239, 242, 296, 297, 352, 354, 383, 501, 560, 582, 589, 606, 678, 684, 783, 812, 843, 854

                <br>
                <br>

                Tier 2: 20, 30, 45, 72, 78, 89, 95, 97, 113, 148, 163, 166, 172, 266, 270, 338, 398, 446, 491, 499, 504, 519, 541, 604, 607, 631, 634, 635, 675, 723, 835, 883, 948, 996
                
             </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(255, 123, 0);">
             <h2> Double Boom Patterns </h2>
            <p>
                The boom patterns are the patterns where the “Boom!” the pop message is visible two places on the skin and centered on the AWP.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_boom_pattern501.png" alt="AWP Boom Pattern 501">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Double Boom Patterns: 501
                
            </p>
            </div>

            <div class="pattern-card" style="box-shadow: 0 0 10px rgb(255, 123, 0);">
            <h2> C*ck Patterns </h2>
            <p>
                The c*ock patterns are the patterns where the “Crack!” pop message is visible on the skin and placed over the hole at the handle on the AWP.

                <br>
                <br>

                <img class="bigWeaponImage" src = "/main/images/riflePatterns/awp_boom_pattern6.png" alt="AWP Boom Pattern 6">

                <br>

                <a href="" class="inspect-button" target="_blank" rel="noopener noreferrer">
                    Inspect in-game
                </a>

                <br>
                <br>

                Tier 1: 6, 97, 163, 266, 285, 312, 332, 387, 503, 587, 781

                <br>
                <br>

                Tier 2: 63, 85, 98, 141, 158, 319, 504

            </p>
            </div>


    </article>
</div> 

    <div id="pageFooter"></div>

</body>