<!DOCTYPE html>

<head>
    <title>Rifle Skin Pattern Guide</title>
    <link rel="canonical" href="https://www.cspatterns.com/main/Views/rifles/rifles.html" />
    <meta charset="UTF-8">
    <meta name="author" content="Hartwich">
    <meta name="description" content="Full guides for the rifle weapons.">
    <meta name="keywords" content="Pattern Guides, Skin Pattern Guides, Rifle Skin Pattern Guides">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main/Style/style.css">
    <link rel="stylesheet" href="/main/Style/weaponImages.css">
    <link rel="stylesheet" href="/main/Style/articles.css">

    <script src="/main/Data/contentLoader.js" defer></script>
    <script src="/main/Data/displayImages.js" defer></script>
    <script src="/main/Data/rifles/riflesData.js" defer></script>
    <script src="/main/Data/rifles/riflesDisplay.js" defer></script>

</head>

<body>
    <div id="pageHeader"></div>

<div id = "articleBannerLeft">

    <img src = "">

</div>

<div id = "articleBannerRight">

    <img src = "">

</div>

    <div class="content-wrapper">

        <br>

        <div class="groupImageDisplay">
            <div class="defaultRifleImages"></div>
        </div>
    </div>

    <br>

    <div id="pageFooter"></div>

</body>